@import '../../../../core-spa/src/extendables/parent-container-component/variables';
div.filter-modal{
  button.delete{
    position: absolute;
    right: 20px;
  }  

  p.text-muted {
    color: $text-muted; 
  }
}
