div.login-form {
    font-size: 14px;
    color: #FFF;
    margin-top: 20px;
    animation-duration: 800ms;
    animation-iteration-count: 1;

    label {
        font-size: 25px;
        display: block;
        margin-bottom: 5px;
    }

    input.login-fields {
        margin-bottom: 20px;
    }

    div.message{
        height: 25px;
        color: #FFF;
        font-weight: 300;
        display: block;
        margin-bottom: 10px;
        background-color: transparent;

        &.error-msg {
            color: #ff8080;
        }
    }

    button.login-button {
        margin-top: 17px;
        width: 100%;

        svg.fa-spinner{
            margin-left: 10px;
        }
    }
}
