div.login-form {
    font-size: 14px;
    color: #FFF;
    margin-top: 20px;
    animation-duration: 800ms;
    animation-iteration-count: 1;

    img.logo{
        display: block;
        margin: 25px auto;
    }

    label {
        font-size: 12px;
        display: block;
        margin-bottom: 5px;
    }

    input.login-fields {
        margin-bottom: 20px;
    }

    strong.message{
        display: block;
        margin-bottom: 10px;

        &.error-msg {
            color: red;
            font-weight: 300;
        }
    }

    button.login-button {
        margin-top: 15px;
        width: 100%;

        svg.fa-spinner{
            margin-left: 10px;
        }
    }
}
