div.filter{
  background-color: #FFF;
  padding: 10px 15px;
  color: #000;
  font-size: 14px;

  div.reset-all{
    float: right;
    font-size: 14px;
    color: #6cc4ca;
    cursor: pointer;
  }

  input.search-filter{
    margin-top: 7px;
    margin-bottom: 3px;
  }

  div.filter-option {
    font-size: 14px;
    margin-top: 5px;

    input {
      margin-top: 1px;
      position: relative;
      top: -1px;
    }
  }
}
