@import '../../extendables/parent-container-component/variables';

div.context-selector {
  background-color: $background-darkblue;
  border-radius: 5px;

  h1.title {
    color: #fff;
    text-align: center;
  }

  label {
    color: #FFF;
  }

  .select-context {
    margin-bottom: 20px;
  }
}
