@import '../../../../core-spa/src/containers/app/theme';

div.context-selector {
  background-color: $background-blue;
  border-radius: 5px;

  h1.title {
    color: #fff;
    text-align: center;
  }

  label {
    color: #FFF;
  }

  .select-context {
    margin-bottom: 20px;
  }
}
