div.small-loading {
    width: 100%;

    p.loading-text {
        font-size: 15px;
        padding-left: 20px;
    }

    svg.loading-spinner{
        margin-bottom: 10px;
        font-size: 30px;
    }
}
