div.detail-card-data{
  .card{
    height: 100%;
    
    ul.data-list{
      list-style: none;

      div.key{
        display: inline-block;
        font-weight: bold;
        vertical-align: top;
      }
      div.value{
        display: inline-block;
        max-width: 85%
      }
    }
  } 
}  
