@import '../../../../core-spa/src/containers/app/variables';

div.detail-card{
  box-shadow: none;
  
  header.card-header{
    box-shadow: none;

    p.blue-bottom{
      border-bottom: 1px solid $primary;
    }
  }

  ul.data-list{
    list-style: none;
    margin: 0;

    hr{
      height: 1px;
      margin-top: 18px;
      margin-bottom: 30px;
      background-color: #d6d6d6;
    }

    div.key{
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 14px;
    }
    div.value{
      display: inline-block;
      max-width: 85%;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 14px;
    }
  }
}  
