div.detail-card-info{
  .header{
    font-size: 22px;
    font-weight: bold;
  }

  .synopsis{
    font-size: 16px; 
  }
} 

div.detail-card-data{
  .card{
    height: 100%;
    
    .data-list{
      list-style: none;
    }
  } 
}  
