div.collapsible {
  background-color:  #fff;
  margin-bottom: 2px;
  padding-left: 5px;

  div.top-area {
    cursor: pointer;
  }

  div.inner-area {
    overflow: hidden;
    height: 0;
  }

  &.is-active {
    div.inner-area {
      height: auto;
    } 
  }
}
