div.collapsible {
  overflow: hidden;
  height: auto;
  max-height: 40px;
  background-color:  #fff;
  transition: all 500ms;

  &.is-active {
    max-height: 200px;
  }

  svg.fa-angle-down{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
