@import '../../../../core-spa/src/containers/app/theme';

div.expandy-card {
  border-radius: 15px;
  background-color: #FFF;
  padding-left: 80px;
  padding-right: 20px;
  padding-bottom: 0;
  user-select: none;
  
  &.is-expanded{
    padding-bottom: 20px;
  }

  div.top-area {
    padding-bottom: 20px;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0;
  }

  div.bottom-area {
    background-color: $background-grey;
    border-radius: 15px;
    display:  none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;

    &.is-expanded{
      display: block;
    }
  }

  div.expand, div.collapse{
    position: absolute;
    left: 24px;
    margin-top: 36px;
    font-size: 10px;
  }

  div.expand.is-expanded{
    display: none;
  }

  div.collapse{
    display: none;
    &.is-expanded {
      display: block;
    }
  }

  .card-plus, .card-minus {
    position: absolute;
    left: 35px;
    margin-top: 22px;
    cursor: pointer;
  }

  .card-plus.is-expanded{
    display: none;
  }

  .card-minus.is-expanded{
    display:block;
  }
}
