@import '../../containers/app/theme.scss';

div.dash-table {
  margin-bottom: 40px;

  div.dash-table-header{
    background-color: #FFF;
    font-weight: bold;
    border-bottom: 2px solid $background-grey;
  }
  div.dash-table-row{
    background-color: #FFF;
    border-bottom: 2px solid $background-grey;
  }
  a.title{
    font-size: 16px;
    color: $primary;
  }
  p.description{
    font-size: 14px;
  }
  p.count{
    font-size: 16px;
    float: right;
    font-weight: bold;
  }
  button.view-all {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
  }
}
