@import './theme.scss';
@import './spacing.scss';
@import '~bulma/bulma';

//Custom Helpers
.is-pointer{
  cursor: pointer !important;
}

.no-pointer{
  cursor: default !important;
}

.has-radius {
  border-radius: 10px;
}
