@import './variables';

html, body {
    font-family: 'proxima-nova', sans-serif;
    color: $text-plain;
    height: 100%;
}

div#root{
    min-height: 100%;
    transition: 400ms background-color;
}

//Style overwrites, these can be done via
//webpack after we eject from react-scripts
.is-primary {
    background-color: $primary !important;
}
