$background-darkblue: #2E3E50;
$background-grey: #F2F3FA;
$primary: #53aed9;
$secondary: #53b7bC;
$text-plain: #5C6A72;
$text-muted: #B7C2CC;

:export {
  backgroundDarkblue: $background-darkblue;
  backgroundGrey: $background-grey;
  primary: $primary;
  secondary: $secondary;
  textPlain: $text-plain;
  textMuted: $text-muted;
}
