@import '../../../../core-spa/src/containers/app/theme';

nav.navbar {
  background-color: $background-blue;
  color: $background-grey;
  border-bottom: 5px solid $primary;
  font-size: 25px;

  img.rc-circle {
    margin-right: 20px;
    max-height: 2.5rem;
  }

  .navbar-end,
  .navbar-link,
  .navbar-dropdown,
  .navbar-item,
  .navbar-item.has-dropdown,
  .navbar-item.is-hoverable {
    background-color: $background-darkblue;
    color: #FFF;
    border: none;
    user-select: none;
    font-size: 18px;
    cursor: pointer;

    .navbar-item:hover{
       background-color: #1f2b37;
      color: #FFF;
    }

    &.is-active, &:hover {
      background-color: #1f2b37;
      color: #FFF;

      .navbar-link{
        background-color: #1f2b37;
        color: #FFF;
      }
    }
  }


  div.navbar-brand {
    a.navbar-item {
      font-size: 22px;
      font-weight: bold;
    }


    div.navbar-burger{
      color: #FFF;
    }
  }

  div.navbar-menu{
    background-color: $background-darkblue;
  }

  svg.fa-chevron-down {
    position: relative;
    top: 2px;
    margin-left: 10px;
  }

  div.ctx-selector {
    min-width: 202px;
    justify-content: flex-end;
  }
}
