@import '../../containers/app/variables';

div.top-bar {
    width: 100%;
    height: 60px;
    text-align: right;
    background-color: $background-darkblue;
    padding-right: 20px;
    line-height: 60px;
    color: $background-grey;
    border-bottom: 10px solid $primary;

    div.logout {
        cursor: pointer;
        display: inline-block;
    }
}
