@import '../../containers/app/variables';

div.top-bar {
    width: 100%;
    height: 60px;
    background-color: $background-darkblue;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 50px;
    color: $background-grey;
    border-bottom: 10px solid $primary;
    font-size: 25px;

    img.rc-circle {
        margin-top: -6px;
        margin-left: 20px;
        margin-right: 20px;
        height: 75%;
    }

    div.logout {
        cursor: pointer;
        display: inline-block;
    }
}
