table.data-table{
  width: 100%;
  min-width: 880px;
  font-size: 12px;

  tr {
    button.tooltip{
      background-color: transparent;
      border: none;
      box-shadow: none;
      user-select: none;
      outline: none;
      cursor: pointer;
    }

    th {
      user-select: none;
      cursor: pointer;
      font-size: 14px;

      button.tooltip{
        position: absolute;
      }
    }
  }
}
