table.data-table{
  width: 100%;

  tr {
    button.tooltip{
      background-color: transparent;
      border: none;
      box-shadow: none;
      user-select: none;
      outline: none;
      cursor: pointer;
    }

    .first{
      width: 40%;
    }
  }
}
