nav.breadcrumb{
  margin-top: 20px;
  margin-bottom: 33px;
  
  li {
    margin-right: 10px;
  }

  li.home-icon {
    position: relative;
    top: 3px;
  }

  li::before{
    margin-right: 10px;
  }
}
