$background-darkblue: #2E3E50;
$background-grey: #F2F3FA;
$text-plain: #5C6A72;
$text-muted: #B7C2CC;

:export {
  backgroundDarkBlue: $background-darkblue;
  backgroundGrey: $background-grey;
  textPlain: $text-plain;
  textMuted: $text-muted;
}
